///////////// Colors ////////////

$primary-color:    #24313f;
$secondary-color:  goldenrod;
$bg-color:         #35495e;
$text-color:       aliceblue;
$box-shadow-color: rgb(31, 31, 31)0px 6px 10px ;
$hover-color:      rgb(142, 104, 9);
$min-color:        #576d84;
$input-color:      #496583;
$desc-color:       rgba(0, 0, 0, 0.5);

//////////// Breackpoints //////////

$sm:     425px;
$md:     768px;
$min-lg: 1024px;
$lg:     1440px;
$lg-max: 1920px;
